@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #05b4ff;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}




a.cta:hover {
  background-color: #f75763;
  border: 1px solid #3b1215;
  color: #000000;
}

.design {
  max-width: 1100px;
  margin: 0 auto;
}

.design img {
  padding: 0.25rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}

.banner {
  background: -webkit-gradient(linear, left top, right top, from(rgba(241, 157, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/banner.jpg) no-repeat;
  background: linear-gradient(90deg, rgba(241, 157, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
}

.banner h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
}

.banner p {
  color: #FFFFFF;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222222;
}



header {
      gap: 120px;
    position: inherit;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#202124;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.span {
    color: var(--main-color);
}
#career{
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 5% 120px;
}


.home {
    /* position: relative; */
    background-repeat: repeat;
    /* height: 97vh; */
    /* width: 100%; */
    background-image: url(../img/Picsart_23qw-05-15_06-55-54-543.jpg);
    display: flex;
    align-items: flex-end;
    background-position: 270px -70px;
    justify-content: ;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;

}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

/*--------------------Button Css-------------------*/
#btn-center{
  text-align: center;
}
.btns {
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}
.button-48 {
  appearance: none;
  background-color: #05b4ff;
  border-width: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  font-size: 14px;
    color: #fff;
    padding: 0px;
    z-index: 1;
    position: relative;
  }
 .button-48 :hover {
    color: #000;
  }
  .button-48 span:hover {
    color: #000;
  }

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 5px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.about {
  padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    max-width: 530px;
    border-radius: 10px;

}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    margin-bottom: 4rem;
}

.services {
    padding-top: 80px;
    /*background: var(--second-bg-color);*/

}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.services-content {
  justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box1 {
    background-image: url(../img/img3.jpg);

    /*background: var(--bg-color);*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 45px;
    color: #000;
    border-radius: 8px;
    transition: all .45s ease;
}
.box2{
    background-image: url(../img/img3.jpg);

    /*background: var(--bg-color);*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 45px;
    color: #000;
    border-radius: 8px;
    transition: all .45s ease;
}

.box {
    /*background-image: url(../img/img3.jpg);*/

    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 45px;
    color: #000;
    border-radius: 8px;
    transition: all .45s ease;
    text-align: center;
}

.s-icons {
  text-align: center;
}

.s-icons img {
  width: 35%;
    font-size: 32px;
/*    margin-bottom: 20px;*/

}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    background: #716c6c7d;
    color: #ffffff;
    border: solid 1px #ffffff45;
    margin-bottom: 15px;
    border-radius: 94px;
    text-align: center;
    box-shadow: #fff;
    box-shadow: 0px 2px;
}

.box p {
    color: #CCC6;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.box {
    width: 100%;
    background-position: -96px 0px;
    background-image: url(../img/programming-background-collage.jpg);
    height: 100%;
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
#box2 {
    width: 100%;
    background-image: url(../img/cd.jpg);
    height: 100%;
        background-position: -135px 0px;
}
#box3{
    width: 100%;
    background-image: url(../img/it-specialist-checking-code-computer-dark-office-night.jpg);
    height: 100%;
    background-position: -11px 0px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.portfolio{
        padding-top: 95px;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #00a6ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;

}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover img {
    transform: scale(1.1);

}

.row:hover .layer {
    height: 100%;
}

.contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../img/portfolio3.jpg);
    /*background: var(--second-bg-color);*/
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    align-items: center;
    gap: 2.5rem;
        padding-top: 30px;
}
.contact-form{
    /*background: var(--second-bg-color);*/
      /*gap: 2.5rem;*/
     display: grid;
    grid-template-columns: repeat(2, 1fr);
 gap: 2.5rem;
 z-index: 5;
}
#contact-form-edit{
    background-
        margin-top: -90px;
    padding-top: 40px;
}

.contact-text h4 { text-align: -webkit-center;
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {text-align: -webkit-center;
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p {text-align: -webkit-center;
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;

}

.list li {
    margin-bottom: 12px;

}
.list li a {
    text-align: -webkit-center;
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
    /*margin-top: -65px;*/
}
/*.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}*/

.list li a:hover {
    color: var(--text-color);
    transform: translateY(5px);

}

.contact-icons i {
    height: 45px;
    width: 38px;
    color: var(--text-color);
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {

    color: #000;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background:#d6d3d3; 
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}


.contact-form textarea {
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}

.last-text p {
    color: var(--second-color);
    font-size: 14px;

}

.social-items {
    margin-top: -30px;
    padding: 0px 0px 0px 14px;
    color: #fff;
    text-align: center;
}
.social-items a {
    color: #fff;
    width: 42px;
    /* left: 0; */
    height: 42px;
    margin: 6px;
    /* opacity: 0.8; */
    line-height: 40px;
    font-size: 1.4rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2.4px solid #ffffff;
}
.instagramf {
    background: #d6249f;
    color: #ffffff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.youtubef {
    background: #fe0000;
    color: #ffffff;
}
.facebookf {
    background: #4867aa;
    color: #ffffff;
}
.twitterf {
    background: #1da1f2;
    color: #ffffff;
}

.top i {
    /*right: -581px;*/
    /*position: relative;*/
    background: #000;
    color: #000;
    padding: 10px;
    margin-top: 9px;
    border-radius: 8px;
    font-size: 35px;
    color: var(--text-color);
    background: var(--main-color);
}

/*for blinking*/
/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}

/*------------------footer section--------------*/
.footer1{
    text-align: center;
    margin-bottom: 106px;
}
.footer {
  position: relative;
  /*background:#000;*/
  min-height: 100px;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -5%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  /*top: -100px;*/
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/ZAts69f1-removebg-preview.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

/*-----------Responsive menu bar------------*/
.sidenav {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
   
  height: 100%;
  width: 0;
  position: fixed;

  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-align: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#moblie-menu{
      display: block;
    }

@media screen and (max-height: 450px) {

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
            gap: 200px;
    }

    section {
        padding: 131px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }
    
}

@media(min-width: 767px){
  #moblie-menu{
      display: none;
    }
}
@media (max-width: 1100px){
    :root{
        --big-font:4rem;
        --h2-font:2.5rem;
        --p-font:1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media (max-width:920){

    .about{
        grid-template-columns: 1fr;

    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px){
  #moblie-menu{
    margin-left: 125px;
  }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;

    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);

    }
    .navlist a:hover{
        color: var(--main-color);
    }
    navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }
}

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249,249,249);
}
@media only screen and (max-width: 600px) {
  .bx, #menu-icon{
    display: none;
  }
  body {

  }
  .contact-form{
    display: contents;
}
.about {
    display: contents;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    gap: 1.5rem;
}

}

@media (max-width: 1100px){
  .home {
    height: 65vh;
}
.home {
    /* position: relative; */
    background-repeat: repeat;
    /* height: 97vh; */
    /* width: 100%; */
    background-image: url(../img/Picsart_23qw-05-15_06-55-54-543.jpg);
    display: flex;
    align-items: flex-end;
    background-position: 743px -70px;
    justify-content: ;
        padding: 0px 8px 0px;
}
.about-img.aos-init.aos-animate {
    padding-left: 12px;
}
.about-text p {
    text-align: justify;
    padding: 10px;
  }
.mySidenav {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 150px;
    /*display: none;*/
}
.home-text h3 {
    font-size: 1.5rem;
}
.about-img img {
    padding: 84px 11px 5px 65px;
    max-width: 322px;
    border-radius: 10px;
}
.about-text h2 {
    mar-top: -88px;
    font-size: var(--h2-font);
    line-height: 1;
    margin-top: -317px;
    text-align: center;
    padding-bottom: 278px;
}
.about-text h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 11px 0 11px;
}
}



/*--------- Multiple Text Typing Animation---------*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
    object-fit: cover;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}





#humg video{
  position: absolute;
  top: 637px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



/* whatsatpp */
.whatsapp {
  right: 21px;
  z-index: 999;
  position: fixed;
  bottom: 97px;
}


/* click to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 28px;
    z-index: 99;
    font-size: 32px;
    border: none;
    width: 3%;
    height: 1%;
    outline: none;
    background-color: #05b4ff;
    color: white;
    cursor: pointer;
    padding: -16px;
    border-radius: 7px;
}
#myBtn:hover {
  background-color: #555;
}


/*
@media screen and (min-width: 420px) {
.pricelist {
  flex-wrap: wrap!important;
}
}*/

.jcb{
  justify-content: space-between;
}


/*-----------------*/


























/*---------------------------About Me=-----------------------------------------------------*/
.container {
 max-width: 1100px;
    background: transparent;
    margin: 0px auto 0px;
    box-shadow: -5px 0px 6px #DAD7D7;
    border-radius: 83px;
    padding: 40px;
    margin-top: 25px;
}

.header {
  margin-bottom: 30px;
}
.header .full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header .first-name {
  font-weight: 700;
}
.header .last-name {
  font-weight: 300;
}
.header .contact-info {
  margin-bottom: 20px;
}
.header .email,
.header .phone {
  color: #999;
  font-weight: 300;
}
.header .separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 0px 10px;
}
.header .position {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
}

.details {
  line-height: 20px;
}
.details .section {
  margin-bottom: 40px;
}
.details .section:last-of-type {
  margin-bottom: 0px;
}
.details .section__title {
  letter-spacing: 2px;
  color: #54AFE4;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.details .section__list-item {
  margin-bottom: 40px;
}
.details .section__list-item:last-of-type {
  margin-bottom: 0;
}
.details .left,
.details .right {
  vertical-align: top;
  display: inline-block;
}
.details .left {
  width: 60%;
}
.details .right {
  tex-align: right;
  width: 39%;
}
.details .name {
  font-weight: bold;
}
.details a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}
.details a:hover {
  text-decoration: underline;
  color: #000;
}
.details .skills__item {
  margin-bottom: 10px;
}
.details .skills__item .right input {
  display: none;
}
.details .skills__item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #C3DEF3;
  border-radius: 20px;
  margin-right: 3px;
}
.details .skills__item .right input:checked + label {
  background: #79A9CE;
}

























































































































/*----------------------------------------Web-development-page---------------------------------*/
.about_12{
    padding-top: 5%;

    align-items: center;
    gap: 1.5rem;
}
.banner_1{
   background: -webkit-gradient(linear, left top, right top, from(rgba(241, 157, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/banner.jpg) no-repeat;
  background: linear-gradient(90deg,rgb(0 241 223 / 80%), rgba(0, 0, 0, 0.5)),   url(../img/banner.jpg) no-repeat;
  background-position: top right;
  background-size: cover;

}
.banner_1 h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
}

.banner_1 p {
  color: #FFFFFF;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222222;
}
.s-icons-ts{

    text-align: center;
}
.s-icons-ts img {
    width: 17%;
     transition: transform .2s;
    font-size: 32px;
    /* margin-bottom: 20px; */
    /*padding-top: 18px;*/
        margin-top: 45px;
   

}
.s-icons-ts img:hover{
     transform: scale(1.1);
    box-shadow: -5px 0px 6px #DAD7D7;
    border-radius: 14px;

}
/*.container-aboutme{
    max-width: 1242px;
    background: transparent;
    margin: 0px auto 0px;
    box-shadow: -2px 1px 6px #DAD7D7;
    border-radius: 83px;
    padding: 40px;
    margin-top: 50px;
}
}*/


/*-------------------------creative designer----------------------------*/


.banner_2{
   background: -webkit-gradient(linear, left top, right top, from(rgba(241, 157, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/banner.jpg) no-repeat;
  background: linear-gradient(90deg,rgb(0 166 241 / 80%), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat;
  background-position: top right;
  background-size: cover;

}
.banner_2 h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
}

.banner_2 p {
  color: #FFFFFF;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222222;
}













/*--------------------------------- Web Designer---------------------------*/

.banner_3{
   background: -webkit-gradient(linear, left top, right top, from(rgba(241, 157, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/banner.jpg) no-repeat;
 background: linear-gradient(90deg,rgb(205 0 241 / 70%), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat;
  background-position: top right;
  background-size: cover;

}
.banner_3 h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
}

.banner_3 p {
  color: #FFFFFF;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222222;
}











/*----------------------container-breadcrum----------------------------*/


.container-breadcrum {
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
min-width: 480px;
padding: 28px 736px 0px 0px;
}

.breadcrumb {
display: flex;
border-radius: 10px;
margin: auto;
text-align: left;
top: 50%;
width: 100%;
height: 40px;
transform: translateY(-50%);
z-index: 1;
justify-content: center;
}


.breadcrumb__item {
height: 100%;
background-color: white;
color: #252525;
font-family: 'Oswald', sans-serif;
border-radius: 7px;
letter-spacing: 1px;
transition: all 0.3s ease;
text-transform: uppercase;
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
font-size: 16px;
transform: skew(-21deg);
box-shadow: 0 2px 5px rgba(0,0,0,0.26);
margin: 5px;
padding: 0 40px;
cursor: pointer;
}


.breadcrumb__item:hover {
background: #05b4ff;
color: #FFF;
}
.breadcrumb__item a{
    color: black;
}
.breadcrumb__item a:hover {
    color: #fff;
}


.breadcrumb__inner {
display: flex;
flex-direction: column;
margin: auto;
z-index: 2;
transform: skew(21deg);  
}

.breadcrumb__title {
font-size: 16px;
text-overflow: ellipsis;  
overflow: hidden;
white-space: nowrap;  
}


@media all and (max-width: 1000px) {
.container-breadcrum {
    padding: 28px 272px 0px 0px;
}

.breadcrumb__title{
font-size: 11px;
}
.breadcrumb__item {
padding: 0 30px;
}
}

@media all and (max-width: 710px) {
.container-breadcrum{
height: 30px;
}
.breadcrumb__item {
    padding: 28px 272px 0px 0px;
}

}



@media all and (max-width: 1000px) {
.breadcrumb {
height: 35px;
}

.breadcrumb__title{
font-size: 11px;
}
.breadcrumb__item {
padding: 0 30px;
}
}

@media all and (max-width: 710px) {
.breadcrumb {
height: 30px;
}
.breadcrumb__item {
padding: 0 20px;
}

}







/*--------------------------- Flip cards ------------------------*/
.wrapper {
  background: #141414;
  height: 100vh;
}

.card {
    width: 39%;
    height: 510px;
    cursor: pointer;
    position: absolute;
    top: 995px;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: transform  2s;
}
.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    /* background-repeat: repeat; */
    /* display: flex; */
    align-items: flex-end;
    background-position: -253px -272px;
    justify-content: ;
    background-image: url(../img/Picsart_23-05-15_07-31-31-973.jpg);
    transform: perspective(600px) rotateY(0);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease;
  border-radius: 1rem;
  background: #eee;
}

.front {
  transform: perspective(600px) rotateY(0);
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.back .content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back h1 {
  color: #ffffff
  font-size: 1.5rem;
}

.back h1 span {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 15px;
}

.back .socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.back .socials a {
  color: #191919;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.4s ease;
}

.back .socials a:hover {
  background-color: #141414;
  color: #fff;
}
